{
	"openapi": "3.0.0",
	"info": {
		"title": "Wikidata Link Reflector REST API",
		"version": "1.0"
	},
	"tags": [
		{
			"name": "reflect"
		}
	],
	"servers": [
		{
			"url": "https://reflector.toolforge.org/"
		}
	],
	"paths": {
		"/api/v1/reflect": {
			"get": {
				"summary": "Reflect endpoint",
				"description": "Transform URL into Wikidata statement",
				"tags": [
					"reflect"
				],
				"parameters": [
					{
						"name": "url",
						"in": "query",
						"required": true,
						"schema": {
							"type": "string",
							"pattern": "^https?:\\/\\/",
							"minLength": 13,
							"maxLength": 2048,
							"example": "https://twitter.com/test"
						},
						"description": "The URL to be transformed"
					},
					{
						"name": "lang",
						"in": "query",
						"schema": {
							"type": "string",
							"pattern": "^[a-z][a-z-]+$",
							"default": "en",
							"example": "en"
						},
						"description": "The language code for property label and description"
					},
					{
						"name": "property",
						"in": "query",
						"schema": {
							"type": "string",
							"pattern": "^P\\d+$",
							"example": "P2002"
						},
						"description": "Match against specific property instead of all properties"
					},
					{
						"name": "type",
						"in": "query",
						"schema": {
							"type": "string",
							"enum": [
								"property",
								"item"
							],
							"default": "property"
						},
						"description": "For type=property, output relevant property ids. For type=item, output items with extracted property/value"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"additionalProperties": false,
									"required": [
										"items"
									],
									"properties": {
										"items": {
											"type": "array",
											"items": {
												"type": "object",
												"additionalProperties": false,
												"required": [
													"id",
													"value",
													"label"
												],
												"properties": {
													"id": {
														"type": "string",
														"pattern": "^[PQ]\\d+"
													},
													"value": {
														"type": "string",
														"minLength": 1
													},
													"label": {
														"type": "string"
													},
													"description": {
														"type": "string"
													},
													"link": {
														"type": "string"
													}
												}
											}
										}
									}
								},
								"example": {
									"items": [
										{
											"id": "P2002",
											"value": "test",
											"label": "Twitter username",
											"description": "this item's username on Twitter; do not include the “@” symbol",
											"link": "https://twitter.com/test"
										}
									]
								}
							}
						}
					},
					"400": {
						"description": "No URL provided"
					}
				}
			}
		}
	}
}